<div class="p-3">
    <div>
        <!-- <button mat-icon-button (click)="fecharAcoes()">
            <mat-icon>close</mat-icon>
        </button> -->

        <span class="text-ellipis" style="font-size: 1rem;">
           <strong class="text-center">{{ objeto.nome }}</strong>
        </span>
    </div>

    <mat-divider class="mb-3 mt-3"></mat-divider>

    <div class="d-flex flex-column">
        <nexus-botao-acoes icone="edit" texto="Atualizar" 
        [link]="['/ativos/localizacoes/editar', objeto.uid]">
        </nexus-botao-acoes>

        <nexus-botao-acoes icone="delete" texto="Deletar" (click)="deletarObjeto()">
        </nexus-botao-acoes>

        <nexus-botao-acoes icone="info" texto="Ver Detalhes" 
        [link]="['/ativos/localizacoes/detalhes', objeto.uid]">
        </nexus-botao-acoes>
    </div>
</div>