<!--Notificação vista-->
<mat-card [routerLink]="['/notificacoes', notificacao.uid]" (click)="verNotificacao()"
routerLinkActive="active" *ngIf="notificacao.vista; else notificacaoNaoVista" class="vista">
    <mat-card-content>
        <h3 class="nome text-ellipis">
            {{ notificacao.nome }}
        </h3>
        <p class="text-ellipis">{{notificacao.descricao }}</p>
    </mat-card-content>
</mat-card>

<!--Notificação não vista-->
<ng-template #notificacaoNaoVista>
    <mat-card [routerLink]="['/notificacoes', notificacao.uid]" (click)="verNotificacao()" 
    routerLinkActive="active">
        <mat-card-content>
            <h3 class="nome text-ellipis">
                {{ notificacao.nome }}
            </h3>
            <p class="text-ellipis">{{notificacao.descricao }}</p>
        </mat-card-content>
    </mat-card>
</ng-template>