@use '../../../styles/variables' as v;

mat-card {
  background-color: v.$primary-light2;
}

mat-card:hover {
  cursor: pointer;
  background-color: v.$primary-light1;
}

.vista {
  background-color: white;
}

.vista:hover {
  cursor: pointer;
  background-color: v.$gray;
}