@use '../../../styles/variables' as v;

mat-card {
  background-color: v.$primary-light2;
  border: none;
  border-radius: 0;
  box-shadow: none;

  &:hover {
    cursor: pointer;
    background-color: v.$primary-light1;
  }

  &.active {
    background-color: v.$primary;
    color: white;
    
    &:hover {
      background-color: v.$primary;
    }
  }
}

.vista {
  background-color: white;

  &:hover {
    cursor: pointer;
    background-color: v.$gray;
  }
}
