<!--Notificação vista-->
<mat-card [routerLink]="['/notificacoes', notificacao.uid]" 
*ngIf="notificacao.vista; else notificacaoNaoVista" class="vista">
    <mat-card-header>
        <span class="text-ellipis">{{ notificacao.nome }}</span>
    </mat-card-header>
    <mat-card-content>
        <p class="text-ellipis">{{notificacao.descricao }}</p>
    </mat-card-content>
</mat-card>

<!--Notificação não vista-->
<ng-template #notificacaoNaoVista>
    <mat-card [routerLink]="['/notificacoes', notificacao.uid]">
        <mat-card-content>
            <h2 class="text-ellipis">
                <mat-icon color="primary">info</mat-icon>
                {{ notificacao.nome }}
            </h2>
            <p class="text-ellipis">{{notificacao.descricao }}</p>
        </mat-card-content>
    </mat-card>
</ng-template>