<mat-sidenav-container>
    <!--Opções-->
    <mat-sidenav mode="side" opened class="w-25">
      <div class="d-flex flex-column">
        <!--Header-->
        <div class="p-3">
          <nexus-configuracoes-botao-voltar caminho="/ativos">
          </nexus-configuracoes-botao-voltar>
        </div>
        
        <mat-divider></mat-divider>

        <!--Perfil-->
        <mat-card class="bg-primary" class="config-menu" routerLink="/configuracoes/perfil"
        routerLinkActive="active" matRipple>
          <div class="p-2 d-flex justify-content-start">
            <mat-icon class="icone me-2">business_center</mat-icon>
            <mat-card-title>Perfil</mat-card-title>
          </div>
        </mat-card>

        <!--Usuário-->
        <mat-card class="bg-primary" class="config-menu" routerLink="/configuracoes/usuario-detalhes"
        routerLinkActive="active" matRipple>
          <div class="p-2 d-flex justify-content-start">
            <mat-icon class="icone me-2">person</mat-icon>
            <mat-card-title>Usuário</mat-card-title>
          </div>
        </mat-card>
        
      </div>
    </mat-sidenav>
    <!--Conteúdo-->
    <mat-sidenav-content class="p-3">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
  