<div>
    <div class="p-3">
        <nexus-atribuicoes-botao-voltar></nexus-atribuicoes-botao-voltar>
    </div>

    <mat-divider></mat-divider>

    <div class="p-3">
        <button class="text-ellipis" mat-button color="primary" matTooltip="Ver Manutenção"
        [routerLink]="['/ativos/manutencoes/detalhes/', atribuicao.objeto.uid]">
            <mat-icon matPrefix>launch</mat-icon>
            {{ atribuicao.objeto.nome }}
        </button>
    </div>

    <mat-divider></mat-divider>

    <div class="p-3">
        <div class="d-flex flex-column">
            <nexus-botao-acoes icone="done" texto="Completar">
            </nexus-botao-acoes>
        </div>
    </div>
</div>