<div class="d-flex justify-content-center align-items-center h-100vh bg-primary">
    <mat-card class="col-12 col-sm-8 col-md-4 p-3">
        <mat-card-header class="d-flex flex-column text-center mb-4">
            <div class="w-100 mb-1">
                <img src="../../assets/nexus-logo.svg" height="200px" width="200px"/>
            </div>
            <div class="w-100">
                <mat-card-title>
                    <h1 style="font-size: 2rem;">Nexus</h1>
                </mat-card-title>
                <mat-card-subtitle>
                    Sistema de Gerenciamento de Ativos de TI
                </mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="formulario" class="d-flex flex-column">
                <mat-form-field class="mb-3">
                    <mat-label>Usuário</mat-label>
                    <input type="text" matInput formControlName="usuario">
                    <mat-error *ngIf="campoInvalido('usuario')">
                        {{ obterMensagemErro('usuario') }}
                    </mat-error>
                </mat-form-field>
    
                <mat-form-field class="mb-3">
                    <mat-label>Senha</mat-label>
                    <input type="password" matInput formControlName="senha">
                    <mat-error *ngIf="campoInvalido('senha')">
                        {{ obterMensagemErro('senha') }}
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>

        <mat-card-actions align="end">
            <button type="submit" mat-raised-button color="primary" (click)="onSubmit()"
            [disabled]="formulario.invalid">
                Entrar
            </button>
        </mat-card-actions>
    </mat-card>
</div>

<pre>
    {{ formulario.value | json }}
</pre>