@use 'variables' as v;

.buscar-table tr:hover {
    cursor: pointer;
    background-color: v.$gray;
}

.buscar-table tr.linha-selecionada {
    background-color: v.$primary-light1;
}

.plain-text {
    font-size: 1.25rem;

    * {
        font: inherit;
    }

    input {
        border: none;
        background-color: transparent;

        &:focus {
            border: none;
        }
    }
}

.text-ellipis {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.color-primary {
    color: v.$primary;
}

.color-white {
    color: white;
}

.bg-primary {
    background-color: v.$primary;
}

.bg-gray {
    background-color: v.$gray;
}