<div class="d-flex flex-row flex-wrap">
    <nexus-ativos-card class="col-12 col-sm-6 col-md-4 col-lg-3" 
    icone="desktop_windows" nome="Componentes">
    </nexus-ativos-card>

    <nexus-ativos-card class="col-12 col-sm-6 col-md-4 col-lg-3"
    icone="developer_board" nome="Equipamentos">
    </nexus-ativos-card>

    <nexus-ativos-card class="col-12 col-sm-6 col-md-4 col-lg-3" 
    icone="room" nome="Localizações" routerLink="/ativos/localizacoes">
    </nexus-ativos-card>

    <nexus-ativos-card class="col-12 col-sm-6 col-md-4 col-lg-3" 
    icone="build" nome="Manutenções">
    </nexus-ativos-card>

    <nexus-ativos-card class="col-12 col-sm-6 col-md-4 col-lg-3" 
    icone="feedback" nome="Requisições">
    </nexus-ativos-card>

    <nexus-ativos-card class="col-12 col-sm-6 col-md-4 col-lg-3" 
    icone="apps" nome="Softwares">
    </nexus-ativos-card>

    <nexus-ativos-card class="col-12 col-sm-6 col-md-4 col-lg-3" 
    icone="domain" nome="Administração">
    </nexus-ativos-card>
</div>