<div class="d-flex flex-row flex-wrap">
    <nexus-ativos-card icone="desktop_windows" nome="Componentes"></nexus-ativos-card>

    <nexus-ativos-card icone="developer_board" nome="Equipamentos"></nexus-ativos-card>

    <nexus-ativos-card icone="room" nome="Localizações" routerLink="/ativos/localizacoes">
    </nexus-ativos-card>

    <nexus-ativos-card icone="build" nome="Manutenções"></nexus-ativos-card>

    <nexus-ativos-card icone="feedback" nome="Requisições"></nexus-ativos-card>

    <nexus-ativos-card icone="apps" nome="Softwares"></nexus-ativos-card>

    <nexus-ativos-card icone="domain" nome="Administração"></nexus-ativos-card>
</div>