<nexus-botao-voltar caminho="/ativos/localizacoes"></nexus-botao-voltar>

<div class="d-flex justify-content-center">
    <mat-card class="col-12 col-md-6 p-3">
        <mat-card-header class="mb-4">
            <mat-card-title>Adicionar Localização</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <nexus-formulario [formulario]="formulario" [camposMostrarComo]="['Nome', 'Descrição']">
            </nexus-formulario>
        </mat-card-content>
        <mat-card-actions [align]="'end'">
            <button mat-raised-button color="primary" (click)="onSubmit()" 
            [disabled]="formulario.invalid">
                Adicionar
            </button>
        </mat-card-actions>
    </mat-card>
</div>