<!--Navbar-->
<nav *ngIf="usuarioAutenticado">
  <mat-toolbar class="d-flex justify-content-between" color="primary">
    <div class="d-flex justify-content-between align-items-center">
      <img src="../assets/nexus-logo-fundo-branco.svg" class="me-3" width="50px" height="50px"/>
      <span>Nexus</span>
    </div>

    <mat-form-field class="mt-3">
      <input type="text" matInput>
      <mat-icon matSuffix color="primary">search</mat-icon>
    </mat-form-field>

    <div>
      <button class="me-3" routerLink="/configuracoes/perfil" mat-button>Perfil</button>
      <button mat-raised-button routerLink="/configuracoes/usuario-detalhes">Usuário</button>
    </div>
  </mat-toolbar>
</nav>

<!--Menu de módulos-->
<mat-sidenav-container *ngIf="usuarioAutenticado; else paginaLogin">
  <mat-sidenav mode="side" opened>
    <div class="d-flex flex-column">
      <nexus-botao-menu routerLink="/" routerLinkActive="active" nome="Ativos"
      icone="device_hub" [routerLinkActiveOptions]="{ exact: true }">
      </nexus-botao-menu>
      <nexus-botao-menu routerLink="/atribuicoes" routerLinkActive="active" nome="Atribuições" 
      icone="view_list">
      </nexus-botao-menu>
      <nexus-botao-menu routerLink="/notificacoes" routerLinkActive="active" nome="Notificações"
      icone="notifications">
      </nexus-botao-menu>
      <nexus-botao-menu routerLink="/configuracoes" routerLinkActive="active" 
      nome="Configurações" icone="settings">
      </nexus-botao-menu>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="p-3">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!--Página de login sem menu ou navbar-->
<ng-template #paginaLogin>
  <router-outlet></router-outlet>
</ng-template>