<nexus-botao-voltar caminho="/ativos"></nexus-botao-voltar>

<h3 *ngIf="temAtribuicoesEmOutroProjeto" class="color-primary d-flex align-items-center">
    <mat-icon matPrefix class="me-1">info</mat-icon>
    Você tem atribuições em outros projetos.
</h3>

<div *ngIf="carregando; else telaPrincipal" 
    class="d-flex flex-column justify-content-center align-items-center h-100">
    <mat-spinner class="mb-3"></mat-spinner>
    <h3>Carregando atribuições...</h3>
</div>

<ng-template #telaPrincipal>
    <mat-tab-group dynamicHeight>
        <!--Em andamento-->
        <mat-tab label="Em Andamento">
            <div class="m-3">

                <nexus-atribuicoes-lista-vazia *ngIf="chavesAgrupadasEmAndamento.length == 0"
                titulo="Sem atribuições em andamento..." 
                caminhoImagem="../../../assets/atribuicoes.svg">
                </nexus-atribuicoes-lista-vazia>

                <div *ngFor="let data of chavesAgrupadasEmAndamento" class="mb-3">
                    <h2 [class.color-primary]="data.includes('Hoje')">{{ data }}</h2>

                    <nexus-atribuicoes-card *ngFor="let atribuicao of atribuicoesAgrupadasEmAndamento[data]" 
                    [atribuicao]="atribuicao">
                    </nexus-atribuicoes-card>

                    <mat-divider></mat-divider>
                </div>
            </div>
        </mat-tab> 

        <!--Em atraso-->
        <mat-tab label="Em Atraso">

            <ng-template mat-tab-label *ngIf="chavesAgrupadasEmAtraso.length != 0">
                <span matBadge="!" matBadgeOverlap="false" matBadgeSize="small" 
                matBadgeColor="warn">
                    Em Atraso
                </span>
            </ng-template>

            <div class="m-3">
                <nexus-atribuicoes-lista-vazia *ngIf="chavesAgrupadasEmAtraso.length == 0"
                titulo="Atribuições dentro do prazo..."
                caminhoImagem="../../../assets/atribuicoes-em-atraso.svg">
                </nexus-atribuicoes-lista-vazia>

                <div *ngFor="let data of chavesAgrupadasEmAtraso" class="mb-3">
                    <h2>{{ data }}</h2>

                    <nexus-atribuicoes-card *ngFor="let atribuicao of atribuicoesAgrupadasEmAtraso[data]" 
                    [atribuicao]="atribuicao">
                    </nexus-atribuicoes-card>
                    
                    <mat-divider></mat-divider>
                </div>
            </div>
        </mat-tab>

        <!--Concluídas-->
        <mat-tab label="Concluída">
            <div class="m-3">
                <nexus-atribuicoes-lista-vazia *ngIf="chavesAgrupadasConcluidas.length == 0"
                titulo="Nenhuma atribuição foi concluída..."
                caminhoImagem="../../../assets/atribuicoes-em-dia.svg">

                </nexus-atribuicoes-lista-vazia>
                <div *ngFor="let data of chavesAgrupadasConcluidas" class="mb-3">
                    <h2>{{ data }}</h2>

                    <nexus-atribuicoes-card *ngFor="let atribuicao of atribuicoesAgrupadasConcluidas[data]" 
                    [atribuicao]="atribuicao">
                    </nexus-atribuicoes-card>
                    
                    <mat-divider></mat-divider>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</ng-template>

