<nexus-botao-voltar caminho="/"></nexus-botao-voltar>

<mat-tab-group dynamicHeight>
    <mat-tab label="Em Andamento">
        <div *ngFor="let atribuicao of atribuicoes">
            <div class="m-3" >
                <h2>19 de Janeiro - Hoje</h2>
    
                <mat-card [routerLink]="['/atribuicoes', atribuicao.UID, 'detalhes']">
                    <mat-card-header class="mb-2">
                        <mat-card-title>{{ atribuicao.nome }}</mat-card-title>
                        <mat-card-subtitle>
                            {{ 'Prazo para: ' + atribuicao.dataVencimento }}
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{ atribuicao.cicloVida.nome }}</p> <!--Nome do objeto em ciclo-->
                    </mat-card-content>
                </mat-card>
            </div>
    
            <mat-divider></mat-divider>
        </div>
    </mat-tab>
    <mat-tab label="Em Atraso">
        <div class="m-3" >
            <h2>1 de Novembro - Venceu há 1 mês</h2>

            <mat-card matBadge="!" matBadgeOverlap="true" matBadgeColor="warn" routerLink="/">
                <mat-card-header class="mb-2">
                    <mat-card-title>Nome do Passo</mat-card-title>
                    <mat-card-subtitle style="color: red">Prazo para avaliação às 23:59</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p class="mb-3">Nome do Objeto em Fluxo</p>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Concluída">
        <div class="m-3" >
            <h2>28 de Novembro - Quinta-feira</h2>

            <mat-card routerLink="/">
                <mat-card-header class="mb-2">
                    <mat-card-title>Nome do Passo</mat-card-title>
                    <mat-card-subtitle style="color: green">Concluído às 14:34</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Nome do Objeto em Fluxo</p>
                </mat-card-content>
            </mat-card>
        </div>

        <mat-divider></mat-divider>
    </mat-tab>
</mat-tab-group>
