<nexus-botao-voltar caminho="/ativos"></nexus-botao-voltar>

<div *ngIf="carregando; else telaPrincipal" 
    class="d-flex flex-column justify-content-center align-items-center h-100">
    <mat-spinner class="mb-3"></mat-spinner>
    <h3>Carregando atribuições...</h3>
</div>

<ng-template #telaPrincipal>
    <mat-tab-group dynamicHeight>
        <!--Em andamento-->
        <mat-tab label="Em Andamento">
            <div class="m-3">
                <div *ngFor="let data of chavesAgrupadasEmAndamento" class="mb-3">
                    <h2 [class.color-primary]="data.includes('Hoje')">{{ data }}</h2>

                    <nexus-atribuicoes-card *ngFor="let atribuicao of atribuicoesAgrupadasEmAndamento[data]" 
                    [atribuicao]="atribuicao" [routerLink]="['/atribuicoes', atribuicao.uid]">
                    </nexus-atribuicoes-card>

                    <mat-divider></mat-divider>
                </div>
            </div>
        </mat-tab> 

        <!--Em atraso-->
        <mat-tab label="Em Atraso">
            <div class="m-3" >
                <div *ngFor="let data of chavesAgrupadasEmAtraso" class="mb-3">
                    <h2 [class.color-primary]="data.includes('Hoje')">{{ data }}</h2>

                    <nexus-atribuicoes-card *ngFor="let atribuicao of atribuicoesAgrupadasEmAtraso[data]" 
                    [atribuicao]="atribuicao">
                    </nexus-atribuicoes-card>
                    
                    <mat-divider></mat-divider>
                </div>
            </div>
        </mat-tab>

        <!--Concluídas-->
        <mat-tab label="Concluída">
            <div class="m-3" >
                <div *ngFor="let data of chavesAgrupadasConcluidas" class="mb-3">
                    <h2 [class.color-primary]="data.includes('Hoje')">{{ data }}</h2>

                    <nexus-atribuicoes-card *ngFor="let atribuicao of atribuicoesAgrupadasConcluidas[data]" 
                    [atribuicao]="atribuicao">
                    </nexus-atribuicoes-card>
                    
                    <mat-divider></mat-divider>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</ng-template>

