<nexus-botao-voltar caminho="/ativos"></nexus-botao-voltar>

<div class="d-flex justify-content-center">
    <mat-card class="col-12 col-md-6 p-3">
        <mat-card-header class="mb-4">
            <mat-card-title>Alterar Perfil</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="d-flex flex-column">
                <mat-accordion>
                    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            Nome Projeto
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      
                      <div class="d-flex flex-column">
                          <mat-radio-button>Administrador</mat-radio-button>
                          <mat-radio-button>Coordenador</mat-radio-button>
                          <mat-radio-button>Suporte</mat-radio-button>
                          <mat-radio-button>Leitor</mat-radio-button>
                      </div>
                    </mat-expansion-panel>
                  
                    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" 
                    hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            PJ-002
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      
                      <div class="d-flex flex-column">
                          <mat-radio-button>Suporte</mat-radio-button>
                          <mat-radio-button>Leitor</mat-radio-button>
                      </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" 
                    hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            PJ-003
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      
                      <div class="d-flex flex-column">
                          <mat-radio-button>Leitor</mat-radio-button>
                      </div>
                    </mat-expansion-panel>
                  
                  </mat-accordion>                  
            </div>
        </mat-card-content>
        <mat-card-actions [align]="'end'">
            <button mat-raised-button color="primary">Salvar</button>
        </mat-card-actions>
    </mat-card>
</div>