@use '../../../styles/variables' as v;

mat-card:hover {
    box-shadow: v.$shadow;
    background-color: v.$gray;
    cursor: pointer
}

.color-success {
    color: #2E7D32;
}

.color-warn {
    color: #D50000;
}