<div class="d-flex flex-row flex-wrap">
    <nexus-ativos-voltar nome="Softwares" icone="apps"></nexus-ativos-voltar>
</div>

<mat-divider class="mt-3 mb-3"></mat-divider>

<div class="d-flex flex-row flex-wrap">
    <nexus-ativos-opcoes class="col-12 col-sm-6 col-md-4 col-lg-3" nome="Buscar Softwares" 
    icone="search" routerLink="/ativos/softwares/buscar"></nexus-ativos-opcoes>

    <nexus-ativos-opcoes class="col-12 col-sm-6 col-md-4 col-lg-3" nome="Adicionar Software" 
    icone="add" *ngIf="!perfil.nome.includes('Leitor')" routerLink="/ativos/softwares/adicionar"></nexus-ativos-opcoes>
</div>
