<form [formGroup]="formulario">

    <div *ngFor="let campo of obterCampos(); let i = index">
        <div class="d-flex flex-column" [ngSwitch]="obterTipo(formulario.get(campo))">

            <mat-form-field *ngSwitchCase="'string'" class="mb-3">
                <mat-label>{{ camposMostrarComo[i] }}</mat-label>
                <input type="text" matInput formControlName="{{ campo }}">
                <mat-error *ngIf="campoInvalido(campo)">
                    {{ obterMensagemErro(campo) }}
                </mat-error>
            </mat-form-field>

            <mat-form-field *ngSwitchCase="'number'" class="mb-3">
                <mat-label>{{ camposMostrarComo[i] }}</mat-label>
                <input type="number" matInput formControlName="{{ campo }}">
                <mat-error *ngIf="campoInvalido(campo)">
                    {{ obterMensagemErro(campo) }}
                </mat-error>
            </mat-form-field>

            <mat-form-field *ngSwitchCase="'date'" class="mb-3">
                <mat-label>{{ camposMostrarComo[i] }}</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="campoInvalido(campo)">
                    {{ obterMensagemErro(campo) }}
                </mat-error>
            </mat-form-field>

        </div>
    </div>
</form>