/* You can add global styles to this file, and also import other style files */
@use 'styles/variables' as v;
@use 'styles/global-classes';

@use '@angular/material' as mat;
@include mat.core();

$app-primary: mat.define-palette(mat.$light-blue-palette, 700);
$app-accent: mat.define-palette(mat.$light-blue-palette, 800);
$app-warn: mat.define-palette(mat.$red-palette, A700);

$custom-theme: mat.define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
    white: #e604d0
  )
 ));

@include mat.all-component-themes($custom-theme);
@include mat.core-theme($custom-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden;}

.mat-table tr:hover {
  cursor: pointer;
  background-color: v.$background-color;
}

mat-sidenav-container { height: 100%; }

/* Evita que o contéudo da sidenav fica fora dos limites da tela */
mat-sidenav-content { max-height: calc(100% - 4rem); }