<div *ngIf="carregando; else telaPrincipal" 
    class="d-flex flex-column justify-content-center align-items-center h-100">
    <mat-spinner class="mb-3"></mat-spinner>
    <h3>Carregando atribuição...</h3>
</div>

<ng-template #telaPrincipal>
    <mat-sidenav-container>
        <mat-sidenav mode="side" [opened]="!atribuicao.concluida" class="w-25">

            <!--Completar Manutenção-->
            <div [ngSwitch]="atribuicao.tipo.nome">
                <nexus-atribuicoes-acoes-completar-manutencao *ngSwitchCase="'CompletarManutencao'" 
                [atribuicao]="atribuicao">
                </nexus-atribuicoes-acoes-completar-manutencao>
            </div>

        </mat-sidenav>
        <mat-sidenav-content class="p-3">
            <div class="d-flex justify-content-between mb-3 me-3">
                <div>
                    <nexus-botao-voltar *ngIf="atribuicao.concluida" caminho="/atribuicoes">
                    </nexus-botao-voltar>
                    <h2>{{ atribuicao.nome }}</h2>
                    <h3>{{ atribuicao.cicloVida.nome }}</h3>
                </div>
                
                <!--datas de vencimento-->
                <div *ngIf="!emAtraso && !atribuicao.concluida">
                    <strong>
                        Vence em {{ dataVencimentoFormatada }}
                    </strong>
                </div>
                
                <div *ngIf="emAtraso && !atribuicao.concluida">
                    <strong class="color-warn">
                        Venceu em {{ dataVencimentoFormatada }}
                    </strong>
                </div>

                <div *ngIf="atribuicao.concluida">
                    <strong class="color-success">
                        Concluído em {{ dataUltimaAttFormatada }}
                    </strong>
                </div>
            </div>
        
            <div>
                <h3>{{ atribuicao.descricao }}</h3>
            </div>

            <div class="alert alert-success d-flex align-items-center" *ngIf="atribuicao.concluida">
                <mat-icon class="me-3">check</mat-icon>
                Atribuição concluída.
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-template>